Cotecna.Vestalis.Web/Cotecna.Vestalis.Core/DynamicForm/Xml/Schemas/DynamicForm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Section">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FormElements">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Element">
                            <xs:complexType>
                              <xs:attribute name="Identifier" type="xs:string" use="required" />
                              <xs:attribute name="DefaultValue" type="xs:string" use="optional" />
                              <xs:attribute name="IsDataGridVisible" type="xs:boolean" use="optional" default="false"/>
                              <xs:attribute name="IsFilterVisible" type="xs:boolean" use="optional" default="false"/>
                              <xs:attribute name="IsVisibleClient" type="xs:boolean" use="optional" default="true"/>
                              <xs:attribute name="IsInspectionReportVisible" type="xs:boolean" use="optional" default="false"/>
                              <xs:attribute name="IsOrderIdentifier" type="xs:boolean" use="optional" default="false" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Caption" type="xs:string" use="required" />
                  <xs:attribute name="Legend" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DateIntervalRule">
                <xs:complexType>
                  <xs:attribute name="StartField" type="xs:string" use="required" />
                  <xs:attribute name="EndField" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="DefaultValueDependentOnCatalogue">
                <xs:complexType>
                  <xs:attribute name="CatalogueField" type="xs:string" use="required" />
                  <xs:attribute name="TextField" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="SummatoryRule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FormElements">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Element">
                            <xs:complexType>
                              <xs:attribute name="Identifier" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Value" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" />
      <xs:attribute name="CaptionTitle" type="xs:string" use="required" />
      <xs:attribute name="CaptionBreadcrumbs" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>