Cotecna.Vestalis.Web/Cotecna.Vestalis.Core/Service References/MonitoringServiceReference/MonitoringService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MonitoringService/MonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cotecna.Services.Monitoring.CommunicationObjects" />
  <xs:element name="SaveSupportTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cotecna.Services.Monitoring.CommunicationObjects" minOccurs="0" name="parameters" nillable="true" type="q1:ParameterMonitoring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSupportTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSupportTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>